@model WebAppForMED.Models.DoctorFreeTimeViewModel
      @{Layout = "~/Views/Shared/_LayoutPatient.cshtml";}
    <br /> <br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Hidden("PatientId", (int)ViewBag.PatientId)
            @if (ViewBag.Jobs != null)
            {
                @Html.DisplayNameFor(model => model.Job)
                @Html.DropDownListFor(model => model.Job, (SelectList)ViewBag.Jobs, "Выбор специальности", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Job, "", new { @class = "text-danger" })
            }
        </div>
        <div class="form-group">

            @Html.DisplayNameFor(model => model.DoctorId)
            @Html.DropDownListFor(model => model.DoctorId, (SelectList)ViewBag.Doctors, "Выбор врача", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DoctorId, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.FreeTimeId)
            @Html.DropDownListFor(model => model.FreeTimeId, new SelectList(" "), "Выбор времени", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FreeTimeId, "", new { @class = "text-danger" })
        </div>
    </div>
    <!-- -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>




    <script>
        $(document).ready(function () {
            $("#Job").change(function () {
                $.get("/Patients/GetDoctors", { Id: $("#Job").val() }, function (data) {
                    $("#FreeTimeId").empty("");
                    $("#FreeTimeId").append("<option value='" + "-1" + "'>" + "Выбор времени" + "</option>")
                    $("#DoctorId").empty("");
                    $("#DoctorId").append("<option value='" + "-1" + "'>" + "Выбор врача" + "</option>")
                    $.each(data, function (index, row) {
                        $("#DoctorId").append("<option value='" + row.Value + "'>" + row.Text + "</option>")
                    })
                })
            })
            $("#DoctorId").change(function () {
                $.get("/Patients/GetTime", { Id: $("#DoctorId").val() }, function (data) {
                    $("#FreeTimeId").empty("");
                    $("#FreeTimeId").append("<option value='" + "-1" + "'>" + "Выбор времени" + "</option>")
                    $.each(data, function (index, row) {
                        $("#FreeTimeId").append("<option value='" + row.Value + "'>" + row.Text + "</option>")
                    })
                })
            })
        });
    </script>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
}
