@model IEnumerable<WebAppForMED.Models.Doctor>

@{
    ViewBag.Title = "Врачи";
}

<h2>Врачи</h2>

<p>
    @Html.ActionLink("Добавить нового", "Create")
</p>
<!--<table class="table">
    <tr>
        <th>
            @Html.Name("ФИО")
        </th>
        <th>
            @Html.Name("Дата рождения")
        </th>
        <th>
            @Html.Name("Пол")
        </th>
        <th>
            @Html.Name("Специальность")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Детали", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
-->
@using GridMvc.Html
<div style="width:500px;">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Id).Titled("ID").Filterable(true).Sortable(true);
    columns.Add(c => c.FIO).Titled("ФИО").Filterable(true).Sortable(true);
    columns.Add(c => c.Pol).Titled("Пол").Filterable(true).Sortable(true);
    columns.Add(c => c.BirthDate).Format("{0:dd/MM/yyyy}").Titled("Дата рождения").Filterable(true).Sortable(true);
    columns.Add(c => c.Job).Titled("Должность").Filterable(true).Sortable(true);
    columns.Add(c => c.DocType).Titled("Тип документа").Filterable(true).Sortable(true);
    columns.Add(c => c.DocNum).Titled("Номер").Filterable(true).Sortable(true);
    columns.Add()
            .Titled("")
            .SetWidth(10)
            .Filterable(true)
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(c => Html.ActionLink("Редактировать", "Edit", new { id = c.Id })
            .ToHtmlString());

    columns.Add()
            .Titled("")
            .SetWidth(10)
            .Filterable(true)
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(c => Html.ActionLink("Детали", "Details", new { id = c.Id })
            .ToHtmlString());

    columns.Add()
            .Titled("")
            .SetWidth(10)
            .Filterable(true)
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(c => Html.ActionLink("Удалить", "Delete", new { id = c.Id })
            .ToHtmlString());
}).WithPaging(10).Sortable(true)
</div>

