@model IEnumerable<WebAppForMED.Models.Patient>

@{
    ViewBag.Title = "Пациенты";
}

<h2>Пациенты</h2>

<p>
    @Html.ActionLink("Добавить нового", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Name("ФИО")
        </th>
        <th>
            @Html.Name("Дата рождения")
        </th>
        <th>
            @Html.Name("Пол")
        </th>
        <th>
            @Html.Name("Кровь")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blood)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Детали", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
