
@{
    ViewBag.Title = "ListUsers";
}

<h2>Список пользователей</h2>

<p>
    @Html.ActionLink("Добавить нового", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Имя пользователя")
        </th>
        <th>
            @Html.DisplayName("Роли")
        </th>
        <th>
            @Html.DisplayName("Привязано")
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.UserList) {
    <tr>
        <td>
            @Html.Raw(item.UserName)
        </td>
        
        <td>
           @Html.Raw(ViewData[item.UserName])
        </td>    
        <td>
            @if (item.PersonId == -1)
            {
                @Html.Raw("Не привязано")
            }
            
            @if (item.PersonType && item.PersonId != -1)
            {
                @Html.Raw("Пациент")
            }
            
            @if (!item.PersonType && item.PersonId != -1)
            {
                @Html.Raw("Врач")
            }

        </td>      
        <td>
            @Html.ActionLink("Редактировать роли", "ListRoles", new { userId = item.Id })|
            @Html.ActionLink("Привязать к врачу", "LinkTo", new { id = item.Id, personType = false })|
            @Html.ActionLink("Привязать к пациенту", "LinkTo", new { id = item.Id, personType = true })|

        </td>
    </tr>
}

</table>
