@model IEnumerable<WebAppForMED.Models.ApplicationUser>

@{
    ViewBag.Title = "Добавление роли";
}

<h2>Добавление роли</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Роли данного пользователя")
        </th>
        <th></th>
    </tr>

    @foreach (var item in (SelectList)ViewBag.RolesList)
    {
        <tr>
            <td>
                @Html.DisplayName(item.Text)
            </td>
            <td>
                @Html.ActionLink("Удалить из данной роли", "DeleteFromRole", new { userId = ViewBag.userId, roleName = item.Text })
            </td>
        </tr>
    }
</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Свободные роли")
        </th>
        <th></th>
    </tr>

    @foreach (var item in (SelectList)ViewBag.FreeRoles)
    {
        <tr>
            <td>
                @Html.DisplayName(item.Text)
            </td>
            <td>
                @Html.ActionLink("Добавить в данную роль", "AddRole", new { userId = ViewBag.userId, roleName = item.Text })
            </td>
        </tr>
    }
</table>

<div> @Html.ActionLink("К списку пользователей", "ListUsers") </div>

