@model WebAppForMED.Models.Illness

@{
    ViewBag.Title = "Детали";
}

<h2>Детали</h2>

<div>
    <h4>Болезнь</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using GridMvc.Html
    @Html.Grid((IEnumerable<WebAppForMED.Models.MedCard>)ViewBag.Patients).Columns(columns =>
{
    columns.Add(c => c.Patient.Id).Titled("ID").Filterable(true).Sortable(true);
    columns.Add(c => c.Patient.FIO).Titled("ФИО больного").Filterable(true).Sortable(true);
    columns.Add(c => c.Patient.BirthDate).Format("{0:dd/MM/yyyy}").Titled("День рождения").Filterable(true).Sortable(true);
    columns.Add()
            .Titled("")
            .SetWidth(10)
            .Filterable(true)
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(c => Html.ActionLink("Редактировать", "Edit", "Patients", null, null, null, new { id = c.Patient.Id }, null)
                .ToHtmlString());
}).WithPaging(10).Sortable(true)


</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
